.introduction {
  margin: 5% 10% 0% 10%;
  text-align: justify;
  line-height: 2;
  font-weight: 300;
}

.cont {
  display: flex;
  flex-direction: row;
}

.par {
  width: 50%;
}
.gif {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
